@model VirtualDeanary.Models.InfoSemesterViewModel
@{
    ViewData["Title"] = "infoSemester";
}

<div class="container">
    
    <p><h4>Course list</h4></p>

    <table class="table">
        <thead> 
            <tr>
                <th scope="col">Subject</th>
                <th scope="col">Study year</th>
                <th scope="col">Semester</th>
                <th scope="col">Teacher</th>
                <th scope="col">Student List</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Subjects)
            {
                <tr>
                    <td>@item.SubjectName</td>
                    <td>@item.Semester.StudyYear</td>
                    <td>@item.Semester.Period</td>
                    <td>@item.User.Name @item.User.Lastname</td>
                    <td>
                        <a type="button" class="btn btn-outline-info"
                           asp-action="InfoStudentList"
                           asp-controller="Deanary"
                           asp-route-id="@item.Id">
                            Student list
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

