@model VirtualDeanary.Models.IndexStudentViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <p><h4>Student list</h4></p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Study Year</th>
                <th scope="col">Course</th>
                <th scope="col">Faculty</th>
                <th scope="col">Teacher</th>
                <th scope="col">Mark</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model.StudentLists.GroupBy(x => x.Subject.Semester.StudyYear))
            {
                <tr>
                    <td>Year of study @item.Key</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                @foreach (var t in item)
                {
                    <tr>
                        <td></td>
                        <td>@t.Subject.SubjectName</td>
                        <td>@t.Subject.Semester.Faculty.FacultyName</td>
                        <td>@t.Subject.User.Name @t.Subject.User.Lastname</td>
                        <td class="text-success">@t.Mark</td>
                    </tr>
                }
        }
        </tbody>
    </table>
</div>